.gradient-background{
    background: linear-gradient(300deg, purple, rgb(50, 33, 2), green, skyblue);
    background-size: 100%;
    animation: gradient-animation 10s ease infinite;
    margin-bottom: 1%;
   }
    @keyframes gradient-animation {
        0%{
            background-position: 0% 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0% 50%;
        }
    }
    .img{
        justify-content: center;
        display: block;
        margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    }
    .col{
        text-align: center;
        justify-content: center;
        align-items: center;
       
    }
